.subcategory-card{
    padding: 4px 10px;
    border-radius: 4px;
}

.subcategory-card h4{
    color: #fff;
}

.blog-sidebar .blog-insta{
    display: block !important;
}

.blog-sidebar .blog-insta li{
    margin-bottom: 5px;
}