<section class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Reset Password</h3>
        <div class="theme-card">
          <form
            class="theme-form"
            [formGroup]="loginForm"
            (ngSubmit)="OnSubmit(loginForm)"
          >
            <div class="form-group">
              <label for="username">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                autocomplete="off"
                id="email"
                placeholder="Email"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="review">Confirm Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="confirmEmail"
                autocomplete="off"
                id="confirmEmail"
                placeholder="Confirm Email"
                required=""
              />
            </div>
            <a
              class="primary-btn btn-default radius-0"
              type="submit"
              (click)="OnSubmit(loginForm)"
              >Send Code</a
            >
            <p class="custom-link">or <a [routerLink]="['/login']">login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
