<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Reset Password</h3>
        <div class="theme-card">
          <form
            class="theme-form"
            [formGroup]="codeForm"
            (ngSubmit)="OnSubmit()"
          >
            <div class="form-group">
              <label for="username">password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                autocomplete="off"
                id="password"
                placeholder="New Password"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="review">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                autocomplete="off"
                id="confirmPassword"
                placeholder="Confirm password"
                required=""
              />
            </div>
            <a class="primary-btn btn-default radius-0" (click)="OnSubmit()"
              >Reset</a
            >&nbsp;
            <p class="custom-link">
              Cancel? then <a [routerLink]="['/login']">Login or Register</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
