
<!DOCTYPE html>
<html>
<app-nav></app-nav>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">

<link href="//cdn.quilljs.com/1.0.0/quill.core.css" rel="stylesheet">

<body>
    <section class="margin-common-top">
        <div class="wrapper-reader">
            <router-outlet></router-outlet>
        </div>
    </section>
</body>

</html>

<script src="//cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>

<!-- Core build with no theme, formatting, non-essential modules -->
<script src="//cdn.quilljs.com/1.0.0/quill.core.js"></script>
