.sidebar-sticky {
    position: relative;
    top: 0;
    padding-top: 30px !important;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    color: #fff !important;
    left: 0;
    z-index: 100;
    background-color: #313742;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-content{
    width: 20%;
}

.main-content{
    width: 80%;
    float: right;
}

.wrapper-admin{
    width: 80% !important;
    margin: 0 auto;
}