<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="WebApi" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/v1/.*$" ignoreCase="true"/>
          </conditions>
          <action type="None"/>
        </rule>
        <rule name="WebApp" stopProcessing="false">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/"/>
        </rule>

      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" /> -->
        <add name="Cache-Control" value="no-cache, no-store"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
</configuration>
