.crop-image{
  margin-left: 10px;
      margin-top: -4px;
}
.file-upload{
  margin-top:20xp !important;
}

.crop-image{
  margin-left: 0px !important;
}

.primary-btn{
  display: block;
    margin-top: 20px;
}